<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="right_col" role="main" th:fragment="content">
    <div class="row"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_title">
            <h4>Existing Stocks</h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_panel">
            <div class="x_content">
                <table id="datatable"
                       class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Stock Code</th>
                        <th>Stock Description</th>
                        <th>Brand</th>
                        <th>Buy Price</th>
                        <th>Sell Price</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="stock : ${stocks}">
                        <td th:text="${stock.code}"></td>
                        <td th:text="${stock.description}"></td>
                        <td th:text="${stock.brand}"></td>
                        <td th:text="${stock.buyPrice}"></td>
                        <td th:text="${stock.sellPrice}"></td>
                        <td th:text="${stock.qty}"></td>
                        <td><a
                                th:href="@{/getStock(stockCode=${stock.code})}"
                                class="btn btn-xs btn-info"><i class="fa fa-edit"></i> Edit</a>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:fragment="script">
    <script type="text/javascript" th:inline="javascript">
        $('.confirmation').on('click', function () {
            return confirm("Are you sure to delete?");
        });
    </script>
</th:block>
</html>