<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="right_col" role="main" th:fragment="content">
    <div class="row"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_title">
            <h4>Existing Users</h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_panel">
            <div class="x_content">
                <table id="datatable"
                       class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th width="20%">User Id</th>
                        <th width="25%">User Name</th>
                        <th width="20%">Role</th>
                        <th width="15%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="userAccount : ${userAccounts}">
                        <td th:text="${userAccount.userId}"></td>
                        <td th:text="${userAccount.userName}"></td>
                        <td th:text="${userAccount.role}"></td>
                        <td><a
                                th:href="@{/editUserAccount(userId=${userAccount.userId})}"
                                class="btn btn-xs btn-info"><i class="fa fa-edit"></i> Edit</a>
                            <a
                                    th:href="@{/deleteUserAccount(userId=${userAccount.userId})}"
                                    class="btn btn-xs btn-danger confirmation"><i class="fa fa-trash"></i>
                                Delete</a>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:fragment="script">
    <script type="text/javascript" th:inline="javascript">
        $('.confirmation').on('click', function () {
            return confirm("Are you sure to delete?");
        });
    </script>
</th:block>
</html>